body {
    margin: 0;
    font-family: 'Cursed Timer ULiL', Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    /* background-color: #e2f0e4; */
    background-color: #eaf1eb;

}

.container {
    display: flex;
    justify-content: space-evenly;
    border: 4px solid #ffffff;
    border-radius: 12px;
    margin: 40px 240px;
    padding-bottom: 64px;
    background-color: #1B244A;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);

}

/* .container::before {
     content: "";
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.1;
      background-image: url("https://media.npr.org/assets/img/2023/04/01/ap23089090925050_custom-019741384a40a07d3c360b670a8e273e38fe3ce8-s1100-c50.jpg");
    
    background-size: cover;
} */

.leader-text {
    margin: 20px 40px 12px 40px;
    padding: 4px;
    color: white;
    background: #F94F6D;
    border-radius: 4px;
    opacity: 0;
    /* flex-basis: 0; */
}

.score-text {
    font-size: 90px;
    color: #F94F6D;
    /* line-height: 120px; //set the same height of the div to align */
    margin: 0;
    /* margin: auto auto; */
}

h3 {
    font-size: 40px;
    color: white;
    font-family: Verdana;
    font-weight: 700px;
    margin-bottom: 20px;
    margin-top: 0;
}



.score-screen {
    width: 155px;
    height: 120px;
    background: #080001;
    border-radius: 8px;
    align-items: center;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}


.foul-section {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* width: 155px; */
    /* margin-top: 40px; */
    /* margin: 20px; */
}



.foul-text {
    color: #9AABD8;
    /* border: 2px solid #9AABD8; */
    border-radius: 8px;
    background: #111827;
    padding: 12px 20px 12px 20px;
    width: 72px;
    margin-right: 4px
        /* margin: 20px; */
}


.btn-foul {
    display: block;
    border-radius: 8px;
    border: none;
    background: #111827;
    color: #9AABD8;
    font-family: 'Cursed Timer ULiL';
    /* margin-bottom: 4px; */
    width: 40px;
}



.btn-score {
    width: 45px;
    height: 45px;
    border-radius: 8px;
    border: 2px solid #9AABD8;
    background-color: transparent;
    color: #9AABD8;
    font-family: 'Cursed Timer ULiL'
}

.btn-newgame {
    width: fit-content;
    padding: 12px 40px 12px;
    box-shadow: 0px 4px #9AABD8;
    margin-top: 0px;
    border-radius: 8px;
    border: 2px solid #9AABD8;
    background-color: #374482;
    /* background-color: transparent; */
    color: #9AABD8;
    font-family: 'Cursed Timer ULiL'
}

.btn-group {
    /* margin-bottom: 64px; */
    /* display: block; */
}
